<div class="col-md-12">
  <div class="group">
    <span class="pull-right">
    <% if current_user && current_user.is_member_of?(@group) %>
    <label class="label label-success">群组成员</label>
    <%= link_to("Quit Group", quit_group_path(@group), method: :post, class: "btn btn-default ")%>
    <% else %>
    <label class="label label-warning">不是群组成员</label>
    <%= link_to("Join Group", join_group_path(@group), method: :post, class: "btn btn-default ")%>
    <% end %>
    </span>
    <%= link_to("New Post", new_group_post_path(@group), class: "btn btn-default pull-right")%>
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>
  </div>

  <h2>详细文章</h2>
  <td><%= @group.title %></td>
  <br>
  <td><%= @group.description %></td>

<table class="table table-hover">
  <thead>
    <tr>
      <td>#</td>
      <td>Content</td>
      <td>Creator</td>
      <td>Time</td>
    </tr>
  </thead>
  <%  @posts.each do |post| %>
  <tbody>
    <tr>
      <td>#</td>
      <td><%= post.content %></td>
      <td><%= post.user.email %></td>
      <td>
      <%= post.created_at %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
<div class="text-center">
  <%= will_paginate @posts %>
</div>

</div>
