<div class="col-md-12">
  <div class="group">
    <%= link_to("New Post", new_group_post_path(@group), class: "btn btn-default pull-right")%>
    <%= link_to("Edit", edit_group_path(@group), class: "btn btn-primary pull-right")%>

  </div>
  <h2>详细文章</h2>
  <td><%= @group.title %></td>
  <br>
  <td><%= @group.description %></td>

<table class="table table-hover">
  <thead>
    <tr>
      <td>#</td>
      <td>Content</td>
      <td>Creator</td>
      <td>Time</td>
    </tr>
  </thead>
  <%  @posts.each do |post| %>
  <tbody>
    <tr>
      <td>#</td>
      <td><%= post.content %></td>
      <td><%= post.user.email %></td>
      <td>
      <%= post.created_at %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
<div class="text-center">
  <%= will_paginate @posts %>
</div>

</div>
